solutions/demo/Workflows/ARCNewdonotdeleteorrename-D51FB3A5-4B11-EF11-9F89-000D3A848ED6.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "impersonation": {
          "source": "invoker"
        },
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "clds_sharedcommondataserviceforapps_a0b9a"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When the incoming activity triggers the flow (don't edit or delete this step)": {
          "metadata": {
            "operationMetadataId": "bd238ba8-a3a6-4222-b125-32fb6a943d90"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 3,
              "subscriptionRequest/entityname": "email",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "importsequencenumber",
              "subscriptionRequest/runas": 1
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Identify email sender": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "61cf6215-dac5-4f01-8955-5af80f3636d4"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Customer from email sender",
                "type": "String"
              }
            ]
          }
        },
        "Is this email sender a contact or an account": {
          "actions": {
            "Is_email_sender_a_contact": {
              "actions": {
                "Retrieve_sender_contact": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "e5b6f475-ef85-4d0d-bc5b-0f1484798a74"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "GetItem",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "contacts",
                      "recordId": "@triggerOutputs()?['body/_emailsender_value']"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Set_parent_customer_of_sender_as_customer": {
                  "runAfter": {
                    "Retrieve_sender_contact": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "ba3be5cb-7dd1-4691-afef-2df7c8c8989d"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "Customer from email sender",
                    "value": "@{if(equals(outputs('Retrieve_sender_contact')?['body/_parentcustomerid_value@Microsoft.Dynamics.CRM.lookuplogicalname'],'account'),concat('accounts(',outputs('Retrieve_sender_contact')?['body/_parentcustomerid_value'],')'),outputs('Retrieve_sender_contact')?['body/@odata.id'])}"
                  }
                }
              },
              "runAfter": {},
              "else": {
                "actions": {
                  "Set_account_as_customer": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "ac76be63-fc0d-4aa1-99b9-78b5584d5376"
                    },
                    "type": "SetVariable",
                    "inputs": {
                      "name": "Customer from email sender",
                      "value": "@{concat('accounts(',triggerOutputs()?['body/_emailsender_value'], ')')}"
                    }
                  }
                }
              },
              "expression": {
                "equals": [
                  "@triggerOutputs()?['body/_emailsender_type']",
                  "contacts"
                ]
              },
              "metadata": {
                "operationMetadataId": "7d37748b-2b62-4260-9990-758d25e40738"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "Identify email sender": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Terminate_when_no_valid_customer_found": {
                "runAfter": {},
                "metadata": {
                  "operationMetadataId": "5528faa2-3ed4-4b47-a6be-b2a9545d2d1f"
                },
                "type": "Terminate",
                "inputs": {
                  "runStatus": "Cancelled"
                }
              }
            }
          },
          "expression": {
            "or": [
              {
                "equals": [
                  "@triggerOutputs()?['body/_emailsender_type']",
                  "contacts"
                ]
              },
              {
                "equals": [
                  "@triggerOutputs()?['body/_emailsender_type']",
                  "accounts"
                ]
              }
            ]
          },
          "metadata": {
            "operationMetadataId": "5c873b51-823a-40fd-896d-c5fb9e9bfb2e"
          },
          "type": "If"
        },
        "Create a record (don't rename this step)": {
          "runAfter": {
            "Is this email sender a contact or an account": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "d99d9fbb-9081-4865-a794-bd1adc717c0a"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "CreateRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "incidents",
              "item/title": "@triggerOutputs()?['body/subject']",
              "item/customerid_account@odata.bind": "@{if(startsWith(variables('Customer from email sender'),'accounts'),variables('Customer from email sender'),string(''))}",
              "item/customerid_contact@odata.bind": "@{if(contains(variables('Customer from email sender'),'contacts'),variables('Customer from email sender'),string(''))}",
              "item/primarycontactid@odata.bind": "@{if(contains(variables('Customer from email sender'),triggerOutputs()?['body/_emailsender_value']),string(''),concat('contacts(',triggerOutputs()?['body/_emailsender_value'], ')'))}",
              "item/caseorigincode": 2
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Connect the record to the incoming activity (don't edit or delete this step)": {
          "runAfter": {
            "Create a record (don't rename this step)": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "79aa8d11-6545-44b2-b26a-d108833f1567"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "PerformUnboundAction",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "actionName": "msdyn_ExecutePrimaryCreatePostActions",
              "item/SourceEntityReference": "@{concat('emails(',triggerOutputs()?['body/activityid'], ')')}",
              "item/PrimaryEntityReference": "@outputs('Create a record (don''t rename this step)')?['body/@odata.editLink']",
              "item/RuleId": "c8a4218d-4b11-ef11-9f89-000d3a848ed6"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}