solutions/demo/Workflows/Whenarowisaddedmodifiedordeleted-EmailBodyEmailSte-5928B7D3-6E12-EF11-9F89-000D3A848ED6.json
{
  "properties": {
    "connectionReferences": {
      "shared_conversionservice": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "new_sharedconversionservice_21be9"
        },
        "api": {
          "name": "shared_conversionservice"
        }
      },
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "clds_sharedcommondataserviceforapps_a0b9a"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "metadata": {
            "operationMetadataId": "1fba3021-2b06-4a44-bbc4-dbdf564e56e4"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 1,
              "subscriptionRequest/entityname": "email",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/runas": 3
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Email_Body": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "e144300c-faca-482b-b8e1-3683d17a319f"
          },
          "type": "Compose",
          "inputs": "@triggerOutputs()?['body/description']"
        },
        "Business_Type": {
          "runAfter": {
            "Html_to_text": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "916a7caf-4364-49d7-a14d-2bfafecc2b80"
          },
          "type": "Compose",
          "inputs": "@trim(split(split(outputs('Html_to_text')?['body'], 'Business Type:')[1], 'Type: ')[0])"
        },
        "Html_to_text": {
          "runAfter": {
            "Email_Body": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "9f8292e4-b2c8-40a2-ac33-e47b8f913496"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_conversionservice",
              "operationId": "HtmlToText",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_conversionservice"
            },
            "parameters": {
              "Content": "<p>@{outputs('Email_Body')}</p>"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Compose": {
          "runAfter": {
            "Business_Type": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "8300cf26-a558-4516-be2b-6c29fc1b2968"
          },
          "type": "Compose",
          "inputs": "@split(outputs('Business_Type'), '\\n')"
        },
        "Compose_2": {
          "runAfter": {
            "Compose": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "e73512b3-6596-4757-8e78-2b530a73a715"
          },
          "type": "Compose",
          "inputs": "@first(split(replace(outputs('Compose')[0], '\\r\\n', '\\n'), '\\n'))"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}